<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>등록기간</th>
                <th>예약날짜</th>
                <th>예약시간</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reserve : ${reserves}">
                <td th:text="${reserve.id}"></td>
                <td th:text="${reserve.name}"></td>
                <td th:text="${reserve.period}"></td>
                <td th:text="${reserve.date}"></td>
                <td th:text="${reserve.time}"></td>
                <td>
                    <a th:href="@{/reserves/update/{id}(id=${reserve.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <a th:href="@{/reserves/delete/{id}(id=${reserve.id})}" class="btn btn-primary" role="button">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>