<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>날짜</th>
                <th>시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reserve : ${reserves}">
                <td th:text="${reserve.id}"></td>
                <td th:text="${reserve.name}"></td>
                <td th:text="${reserve.date}"></td>
                <td th:text="${reserve.time}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>