<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>환자명</th>
                <th>등록일</th>
                <th>성별</th>
                <th>병명</th>
                <th>처방</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}"></td>
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.date}"></td>
                <td th:text="${doctor.sex}"></td>
                <td th:text="${doctor.disease}"></td>
                <td th:text="${doctor.prescription}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>