<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>환자명</th>
                    <th>의사명</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.patient.name}"></td>
                <td th:text="${board.doctors[0].name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>