<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
    <form th:action="@{/boards/new}" th:object="${boardForm}" method="post">
        <div class="form-group">
            <label th:for="question">질문</label>
            <input type="text" th:field="*{question}" class="form-control"
                   placeholder="질문을 입력하세요"></div>
        <div class="form-group">
            <label th:for="answer">답변</label>
            <input type="text" th:field="*{answer}" class="form-control"
                   placeholder="답변을 입력하세요"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>