<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/homeButton :: homeButton"/>
    <form role="form" th:action="@{/boards/update/{id}(id=${boards.id})}" th:object="${boards}"
          method="post">
        <div class="form-group" th:object="${reserves}">
            <label for="reserve">예약자</label>
            <select name="reserveId" id="reserve" class="form-control">
                <option value="">예약자 선택</option>
                <option th:each="reserve : ${reserves}"
                        th:value="${reserve.id}" th:text="${reserve.name}"/>
            </select>
        </div>
        <div class="form-group" th:object="${trainers}">
            <label for="trainer">트레이너</label>
            <select name="trainerId" id="trainer" class="form-control">
                <option value="">트레이너 선택</option>
                <option th:each="trainer : ${trainers}"
                        th:value="${trainer.id}" th:text="${trainer.name}"/>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container --> </body>
</html>
