<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>헬스장 회원 관리 페이지</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>
<div class="container">
    <div>
        <ul class="nav nav-pills pull-right">
            <li><a href="/menu">메뉴</a></li>
        </ul>
    </div>
    <div class="jumbotron"><h1>헬스장 회원 관리 페이지</h1>
        <p>
            <a class="btn btn-lg btn-info" href="/logins/new">회원가입</a>
            <a class="btn btn-lg btn-info" href="/logins">로그인</a></p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>