<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>헬스장 회원 관리 페이지</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>
<div class="container">
    <div>
        <ul class="nav nav-pills pull-right">
            <li><a href="/">HOME</a></li>
        </ul>
    </div>
    <div class="jumbotron"><h1>헬스장 회원 관리 페이지</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/logins/new">회원 가입</a>
            <a class="btn btn-lg btn-info" href="/logins">회원 확인</a></p>
        <p class="lead">트레이너 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/trainers/new">트레이너 등록</a>
            <a class="btn btn-lg btn-info" href="/trainers">트레이너 조회</a></p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/boards/new">질문 등록</a>
            <a class="btn btn-lg btn-info" href="/boards">질문 내역</a></p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>